@using sportsShopWebApp.Models


<section>

    <table class="table" style="margin:6vh">
        <thead class="thead-dark">
            <tr class="bg-success"> <th scope="col">Category</th> <th scope="col">ProductName</th> <th scope="col">Company</th> <th scope="col">Price</th> <th scope="col">Quantity</th> <th scope="col">SportsClubId</th> <th scope="col">ImageData</th> </tr>
        </thead>

        <tbody>
            @foreach (sportsEquipment item in Model)
            {
                <tr scope="row"><td>@item.category</td><td>@item.productName</td><td>@item.company</td><td>@item.price</td><td>@item.quantity</td><td>@item.sportsClubId</td><td><img class="img-circle" src="@item.imageData" style="width:45px;height:45px" /></td></tr>
            }
        </tbody>
    </table>
</section>
